<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width">
<link rel=icon href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>🏉</text></svg>" type="image/svg+xml">
<link rel="stylesheet" href="simple.css">
<link rel="stylesheet" href="styles.css">
<title>Inner Melbourne Football League</title>
</head>
<body>
<header>
	<h1>Inner Melbourne Football League 🏉</h1>
</header>

<main id=app>

	<div class="flex justify-between">
		<select v-model=currentYear>
			<option v-for="y in years">{{ y }}</option>
		</select>
		<details><summary>⚙</summary>
			<input type=checkbox v-model=soft id=smfitz @change=invalidate><label for=smfitz>South Melbourne and Fitzroy</label></details>
		</details>
	</div>

	<template v-if="currentYear in seasons">
		<dl v-for="round, index, i of seasons[currentYear].regular">
			<dt>Round {{ i + 1 }}</dt>
			<dd><ul class="list-none pl-0">
				<li v-for="game in round">
					<span :class="{ 'font-bold': game.hscore > game.ascore}">{{  game.hteam }} {{  game.hgoals }}.{{  game.hbehinds }}.{{  game.hscore }}</span> vs. <span :class="{ 'font-bold': game.ascore > game.hscore}">{{  game.ateam }} {{  game.agoals }}.{{  game.abehinds }}.{{  game.ascore }}</span>
				</li>
			</ul></dd>
		</dl>
		<section>
			<h2>&#x1FA9C; Ladder</h2>
			<div class=overflow-x-auto>
				<table>
					<thead>
					<tr>
						<th scope=col></th>
						<!--<th scope=col>Played</th>-->
						<th class=text-right scope=col>W</th>
						<th class=text-right scope=col>L</th>
						<th class=text-right scope=col>D</th>
						<th class=text-right scope=col>F</th>
						<th class=text-right scope=col>A</th>
						<th class=text-right scope=col>%</th>
						<th class=text-right scope=col>Pts</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="t, i in seasons[currentYear].ladder">
						<th scope=row :class="{'border-b-3': i==(soft ? 4 : 3), 'border-solid': i == (soft ? 4 : 3) }">{{ t.name }}</th>
						<!--<td class=text-right :class="{'border-b-3': i==(soft ? 4 : 3), 'border-solid': i == (soft ? 4 : 3) }">{{ t.wins + t.losses + t.draws }}</td>-->
						<td class="text-right tabular-nums" :class="{'border-b-3': i==(soft ? 4 : 3), 'border-solid': i == (soft ? 4 : 3) }">{{ t.wins }}</td>
						<td class="text-right tabular-nums" :class="{'border-b-3': i==(soft ? 4 : 3), 'border-solid': i == (soft ? 4 : 3) }">{{ t.losses }}</td>
						<td class="text-right tabular-nums" :class="{'border-b-3': i==(soft ? 4 : 3), 'border-solid': i == (soft ? 4 : 3) }">{{ t.draws }}</td>
						<td class="text-right tabular-nums" :class="{'border-b-3': i==(soft ? 4 : 3), 'border-solid': i == (soft ? 4 : 3) }">{{ t.for }}</td>
						<td class="text-right tabular-nums" :class="{'border-b-3': i==(soft ? 4 : 3), 'border-solid': i == (soft ? 4 : 3) }">{{ t.against }}</td>
						<td class="text-right tabular-nums" :class="{'border-b-3': i==(soft ? 4 : 3), 'border-solid': i == (soft ? 4 : 3) }">{{ (t.for / t.against * 100).toFixed(1) }}</td>
						<td class="text-right tabular-nums" :class="{'border-b-3': i==(soft ? 4 : 3), 'border-solid': i == (soft ? 4 : 3) }">{{ t.wins * 4 + t.draws * 2 }}</td>
					</tr> 
					</tbody>
				</table>
			</div>
		</section>
		<dl v-for="round, index, i of seasons[currentYear].finals">
			<dt>Finals Week {{ i + 1 }} <span v-if="i == Object.keys(seasons[currentYear].finals).length-1">🏆</span></dt>
			<dd><ul class="list-none pl-0">
				<li v-for="game in round">
					<span :class="{ 'font-bold': game.hscore > game.ascore}">{{  game.hteam }} {{  game.hgoals }}.{{  game.hbehinds }}.{{  game.hscore }}</span> vs. <span :class="{ 'font-bold': game.ascore > game.hscore}">{{  game.ateam }} {{  game.agoals }}.{{  game.abehinds }}.{{  game.ascore }}</span>
				</li>
			</ul></dd>
		</dl>
		<div v-if="Object.keys(seasons[currentYear].finals).length == 0">
			<h2>No finals played</h2>
		</div>
	</template>
	<section>
		<details><summary>Premiers</summary>
			<p v-if="soft">
				1982–1991 as per VFL/AFL<br />
			</p>
			<p v-else>
				1982–1991 as per VFL/AFL<br />
			</p>
		</details>
	</section>


</main>

<footer>
	made with ❤ love by David Porter
</footer>


<script type=importmap>
{
  "imports": {
    "vue": "https://unpkg.com/vue@3.5.22/dist/vue.esm-browser.js"
  },
  "scopes": {}
}
</script>
<script type="module" src="script.js"></script>
</body>
</html>