* {
	font-variant: no-common-ligatures;
}
.flex {
	display: flex;
}
.justify-between {
	justify-content: space-between;
}
.pl-0 {
	padding-left: 0;
}
.tabular-nums {
	font-variant-numeric: tabular-nums;
}
.text-right {
	text-align: right;	
}
.text-center {
	text-align: center;
}
.font-bold {
	font-weight: 700;
}
.overflow-x-auto {
	overflow-x: auto;
}
.border-b-3 {
	border-bottom-width: 3px;
}
@media (prefers-color-scheme: light) {
	.border-solid {
		border-style: solid;
	}
}

.list-none {
	list-style-type: none;
}
